
<div layout-margin="10" >

    <div class="widget-blog-text" ng-cloak="">
        <tri-widget style="background-color: #00b0e8;margin-top:-20px;">
            <h3>Instructor List</h3>
            <md-divider></md-divider>
            <div style="background-color: cadetblue" content-layout="row">
                <md-list >

                    <md-list-item ng-repeat="x in  vm.items">
                        <img class="md-avatar" ng-src="assets/images/avatars/avatar-3.png">
                        <p>{{x.Name}}</p>
                        <md-icon md-font-icon="zmdi zmdi-chat" class="md-primary"></md-icon>
                        <md-divider ng-hide="$last"></md-divider>
                    </md-list-item>

                </md-list>
            </div>
        </tri-widget>


        <tri-widget  style="background-color: #00b0e8;margin-top: 10px;">
            <h2>Student List</h2>
            <md-divider></md-divider>
            <div style="background-color: cadetblue" content-layout="row">
                <md-list>

                    <md-list-item ng-repeat="x in vm.students">
                        <img class="md-avatar" ng-src="assets/images/avatars/avatar-6.png">
                        <p>{{x.firstName}}</p>
                        <md-icon md-font-icon="zmdi zmdi-chat" class="md-primary"></md-icon>
                        <md-divider ng-hide="$last"></md-divider>
                    </md-list-item>

                </md-list>
            </div>
        </tri-widget>

    </div>

</div>
